[submodule "lib/hxt_seqdel"]
	path = lib/hxt_seqdel
	url = https://git.immc.ucl.ac.be/hextreme/hxt_seqdel.git
[submodule "lib/cargs"]
	path = lib/cargs
	url = https://github.com/likle/cargs.git
	branch = stable
[submodule "lib/testingRNG"]
	path = lib/testingRNG
	url = https://github.com/vicentehelano/testingRNG.git
[submodule "lib/cgal"]
	path = lib/cgal
	url = https://github.com/CGAL/cgal.git
[submodule "lib/boost"]
	path = lib/boost
	url = https://github.com/boostorg/boost.git
